<% provide(:title, "Sign in") %>
<div class="center hero-unit rent">
	<h1>Зарегистрировать пользователя</h1>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-danger alert-#{key}") %>
			<% end %>
			<%= form_for(:session, url: sessions_path) do |f| %>
				
				<%= f.label :email %>
				<%= f.text_field :email %>

				<%= f.label :password %>
				<%= f.password_field :password %>

				
				<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
			<% end %>
		<p>Не зарегистрированы? <%= link_to "Sign up now!", signup_path %></p>
		</div>
	</div>
</div>