<% provide(:title, 'Главная') %>
<% provide(:rew, 'Дом111') %>
<!-- <h1> RSnet <%=yield(:rew)%></h1> -->
<div class="center hero-unit rent">
	<h2>Доставим, куда скажете.<br>
		Заберем, где устанете.
	</h2>
  
 	
  
  	
	<div class="pic center ">
	<h3>Выберите велосипед</h3><br>
	<%= link_to image_tag("man_on_the_bike2.png", class: "bike_icon", alt: "КУ-КУ"), '#' %>
	<%= link_to image_tag("girl-on-the-bike2.png", class: "bike_icon ", alt: "КУ-КУ"), '#' %>
	
	<%= link_to image_tag("boyandgirl1.png", class: "bike_icon ", alt: "КУ-КУ"), '#' %>
	<%= link_to image_tag("Tandem2.png", class: "bike_icon ", alt: "КУ-КУ"), '#' %>
	
	<!-- <%= link_to "Забронировать! ", signup_path, class: "btn btn-large btn-primary " %> -->

	
	
	
	<h3>Выберите место, где хотите получить велосипед.</h3><br>
	<%= link_to image_tag("PortPoint_mini.png", class: "bike_icon ", alt: "КУ-КУ"), '#' %>
	<%= link_to image_tag("TrainPoint_mini.png", class: "bike_icon ", alt: "КУ-КУ"), '#' %>
	</div>
  
</div>

